body{
	font-family:Arial;
	color:gray;
	font-size:12px;
	line-height:2em;
}
a{
	color:#727272;
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}
.menu{
	font-size:14px;
	color:#b9f605;
	font-weight:bold;
}
.menu a{
	color:white;
}
.menu a:hover{
	color:#b9f605;
	text-decoration:none;
}
#special{
	color:#fdb306;
}